*,
*::before,
*::after
{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    color: #434455;
}

.container{
    max-width: 320px;
    margin: 0 auto;

}

.section{
    padding: 96px 0px;
}

.headerbar{
    display: flex;
    justify-content: space-between;
    height: 72px;
    align-items: center;
    border-bottom: 1px solid rgba(231, 233, 252, 1);
}

.navbar{
  display: none;
}

.adresler{
  display: none;
}

.headerlogo{
    color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 700;
    margin-left: 16px;

}


.icon-solid-menu{
    width: 16.8px;
    height: 14.4px;
}

.header-menu{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    cursor: pointer;
}



/* mobile menu */


.mobile-menu-close{
  margin-left: 256px;
}

.icon-close{
  width: 24px;
  height: 24px;
}



.mobile-menu{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}



.mobile-is-open{
display: block;
z-index: 100;
}


.mobile-menu-content{
  position: relative;
  background-color: white;
  padding: 24px 24px 40px 16px;
  border-radius: 4px;
    width: 100%;
    height: 640px;
    margin: 0 auto;
}

.mobile-menu-content .navbar{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px;
}

.mobile-menu-content .navlink {
  text-decoration: none;
  color: #2e2f42;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden; 
  
}

 .mobile-menu-content .navlink::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color:#404bbf;
    border-radius: 2px;
    opacity: 0;
    
}

.mobile-menu-content .navlink:active::after{
opacity: 1;
}


.mobile-menu-content .navlink:hover {
  color: #404bbf;
}


.mobile-menu-content .navlink-studio{
  width: 103px;
}

.mobile-menu-content .navlink-portfolio{
      width: 141px;
}

.mobile-menu-content .navlink-contacts{
  width: 146px;
}

.mobile-menu-content .adresler{
  display: flex;
  padding-top: 168px;
}

.mobile-menu-content .adresLinkleri {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-content .adress {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-content .adress:hover {
  color: #404bbf;
}


.mobile-menu-content .socialmedia-list{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}





/* hero section */

.hero-section {
  background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),  url(../images/Dark-bg.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 72px;
  background-size: cover;
  background-position:center ;
}


.hero-section h2 {
  color: white;
  font-size: 36px;
  line-height: 40px;
  max-width: 216px;
}

.btn {
  background-color: #4d5ae5;
  color: white;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
  background-color: #404bbf;
}

/* features */

.divIcons{
  display: none;
}


.features{
    padding: 96px 16px;
}

.features-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px; 
  flex-wrap: wrap;
}

.features-item{
    margin-bottom: 72px;
}


.feature-title {
  text-align: center;  
  font-size: 36px;
  line-height: 40px;
  color: rgba(46, 47, 66, 1);
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(67, 68, 85, 1);
}


/* TEAM SECTION */
.team-section {
  background-color: rgba(244, 244, 253, 1);
  text-align: center;
}

.team-section h2 {
  font-size: 36px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.team-list {
  list-style: none;
  display: flex;
  gap: 72px; 
  justify-content: center;
  flex-direction: column;
}

.team-item {
  background-color: white;
  padding-bottom: 68px;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 264px;
    position: relative;
    left: 28px;
}

.team-item h3 {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}

.team-item p {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}

.nameandjob{
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}



.socialmedia-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    position: relative;
    top: 35px;
}


.socialmedia-item {
  width: 40px;
  height: 40px;
  display: flex;        
  align-items: center;
  justify-content: center;
  background-color: rgba(77, 90, 229, 1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}



.socialmedia-item:hover{
  background-color: rgba(49, 208, 170, 1);
}

.socialmedia-item .teamicon {
  width: 16px;
  height: 16px;
}



/* PORTFOLIO SECTION */

.portfolio-grid2{
  display: none;
}

.portfolio-section{
    text-align: center;
    padding: 96px 16px;
}

.portfolio-section h2 {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 40px;
}

.portfolio-row{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
}


.portfolio-item{
   cursor: pointer;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover{
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.portfolio-item h3 {
  
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-item p {
  font-size: 16px;
  line-height: 1.5;
}


.portfolio-section img{
  display: block;
}



 .portfolio-item{
  position: relative;
  overflow: hidden; 
}

.portfolio-item img{
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-item::before{
  content: "14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px; 
  background-color: rgba(77, 90, 229, 1);
  color: #fff;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
 

.portfolio-item:hover::before{
  opacity: 1;
}
.portfolio-item:hover img{
  opacity: 0;
}



.portfolio-name{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(231, 233, 252, 1);
    border-bottom: 1px solid rgba(231, 233, 252, 1);
    border-left: 1px solid rgba(231, 233, 252, 1);
    gap: 8px;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 16px;
}


/* Footer */
footer {
  background-color: #2e2f42;
  height: 664px;
  padding: 96px 16px;
}






.footerlogo {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin: 0 auto;
}

.footerText {
    display: flex;
    flex-direction: column;
    gap: 16px;
  width: 264px;
  height: 112px;
}


.footerText p {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
}




.footerDiv .socialmedia-footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 72px 40px 72px 40px;
}



.socialmedia-footer p{
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  text-align: center;
}

.socialmedia-footer ul{
  display: flex;
  gap: 16px;
}


.subscribe p{
  color: white;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  text-align: center;
}


.subscribe input[type="email"]{
    width: 264px;
    height: 40px;
    background: rgba(46, 47, 66, 1);
    border: 1px solid white;
    border-radius: 4px;
    padding-left: 16px;

}

.subscribe input[type="email"]::placeholder{
  color: white;
  font-size: 12px;
}


.subscribe input[type="email"]:focus{
  color: white;
}



.subscribe button{
    background-color: rgba(77, 90, 229, 1);
    color: white;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    border: none;
    text-align: left;
    padding: 8px 24px;
    position: relative;
    cursor: pointer;
    margin-left: 61px;
    transition: 250ms background-color cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe button:hover{
    background-color: #404bbf;
}


.icon-Frame{
    width: 24px;
    height: 20px;
    position: absolute;
    right: 35px;
    top: 10px;
}

.subscribe form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}




/* modal pencere */
.modal{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content{
  position: relative;
  background-color: white;
  padding: 24px 16px;
  border-radius: 4px;
  width: 288px;
  height: 623px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.modal-is-open{
  display: flex;
  z-index: 100;
}



 .x{
  color: rgba(46, 47, 66, 1);
  text-align: center;       
  width: 24px;               
  height: 24px;             
  line-height: 24px;       
  border-radius: 50%;        
  background-color:rgba(231, 233, 252, 1);   
  cursor: pointer;             
  border: 1px solid rgba(0, 0, 0, 0.1);                   
  user-select: none;
  margin-left: 234px;
}

.x + p{
  
  margin-top: 24px;
  font-size: 17px;
  line-height: 1.5;
  color: rgba(46, 47, 66, 1);
  font-weight: 500;
  text-align: center;
}

.box-name{
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    gap: 4px;
    font-size: 12px;
    color: rgba(142, 143, 153, 1);
}

.box-name input[type="text"]{
  padding-left: 32px; 
  background: url("../images/person.svg") no-repeat 12px center;
  background-size: 12px 12px ;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: none;
}

.box-name input[type="text"]:focus{
  border: 1px solid rgba(77, 90, 229, 1);
  outline: none;
}

.box-phone{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 4px;
  font-size: 12px;
  color: rgba(142, 143, 153, 1);
}

.box-phone input[type="number"]{
  padding-left: 32px; 
  background: url("../images/phone.svg") no-repeat 12px center;
  background-size: 12px 12px ;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: none;
}
.box-phone input[type="number"]:focus{
  border: 1px solid rgba(77, 90, 229, 1);
  outline: none;
}


.box-email{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 4px;
  font-size: 12px;
  color: rgba(142, 143, 153, 1);
}


.box-email input[type="email"]{
  padding-left: 32px; 
  background: url("../images/email.svg") no-repeat 12px center;
  background-size: 12px 12px ;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: none;
}

.box-email input[type="email"]:focus{
  border: 1px solid rgba(77, 90, 229, 1);
  outline: none;
}

.box-comment{
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  gap: 4px;
  font-size: 12px;
  color: rgba(142, 143, 153, 1);

}


.box-comment textarea{
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: none;
}

.box-comment textarea:focus{
  border: 1px solid rgba(77, 90, 229, 1);
  outline: none;

}




.modal-content input[type="text"]{
  height: 40px;
}

.modal-content input[type="number"]{
  height: 40px;
}

.modal-content input[type="email"]{
  height: 40px;
}

.modal-content textarea{
  height: 120px;
  resize:none; 
}

.checkbox-text{
  margin-top: 16px;
}

.checkbox-text a{
    padding-left: 24px;
  
}

.checkbox-text label{
  font-size: 12px;
}


.checkbox-text input[type="checkbox"]{
  margin-right: 8px;
  position: relative;
    top: 10px;

}



.modal-send{
    display: flex;
    margin-top: 24px;
    justify-content: center;

}

.modal-send input[type="submit"]{
      cursor: pointer;
      width: 169px;
      height: 56px;
      background-color: rgba(77, 90, 229, 1);
      color: white;
      border-radius: 4px;
      border: none;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
}



@media (min-width:768px) {
  .container{
    max-width: 768px;
    margin: 0 auto;
  }


  /* header */
  .icon-solid-menu{
  display: none;
}

.navbar{
  display: flex;
}

.adresler{
  display: flex;
}


.adresLinkleri{
  display: flex;
  flex-direction: column;
}
 

.navbar{
    display: flex;
    gap: 40px;
}

.navlink {
  text-decoration: none;
  display: inline-block;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  overflow: hidden; 
}

.navlink::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 65px;
    height: 2px;
    background-color:#404bbf;
    border-radius: 2px;
    opacity: 0;
    
}

.navlink:active::after{
opacity: 1;
}


.navlink:hover {
  color: #404bbf;
}


.adresLinkleri {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
}

.adress {
  color: #2e2f42;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress:hover {
  color: #404bbf;
}

.headerbar{
  gap: 130px;
}



/* hero section */

.hero-section{
  gap: 36px;
}


.hero-section h2{
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  max-width: 496px;
}


/* features */

.features-item{
  display: flex;
  flex-wrap: wrap;
  width: 356px;
}

.feature-text{
  font-weight: 500;
}

/* team section */

.team-list{
    list-style: none;
    flex-direction: row;
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.team-item{
  left: 0px;
  margin-bottom: 64px;
}


.team-section h2{
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: right;
    margin-right: 290px;
}




/* portfolio */

.portfolio-grid2{
  display: none;
}

.portfolio-section h2{
  margin-bottom: 72px;
}


.portfolio-row{
  list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.portfolio-item img{
    width: 356px;
    height: 300px;
}


/* footer */

footer{
  height: 456px;
  padding: 96px 108px;
}


.footerDiv{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footerlogo{
  margin: 0;
}

.footerDiv .socialmedia-footer{
  padding: 0;
  padding-left: 24px;
}

.socialmedia-footer p{
  text-align: left;
}

.subscribe form {
    display: flex;
    flex-direction: row;
    gap: 24px;
}


.subscribe p {
    color: white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    text-align: left;
}


.subscribe{
    margin-top: 72px;
}

.subscribe button{
  margin-left: 0;
}

/* modal */

.modal-content {
    width: 408px;
    height: 584px;

}

.x{
  margin-left: 353px;
}

.checkbox-text input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.checkbox-text a{
  padding-left: 0;
}




}


@media (min-width:1158px) {
  
.container{
  max-width: 1440px;
  margin: 0 auto;
}


.header-menu {
    display: none;
}

.headerlogo{
  margin-left: 156px;
}

.navbar {
    display: flex;
    gap: 40px;
    position: relative;
    right: 150px;
}

.adresLinkleri {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
}

.adresler {
    display: flex;
    margin-right: 156px;
}


/* hero section */

.hero-section{
  height: 600px;
  gap: 48px;
}

.divIcons{
  display: flex;
}

.divIcons{
    background-color: rgba(244, 244, 253, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid rgba(142, 143, 153, 1);
    border-radius: 4px;
    margin-bottom: 8px;
}

.featuresIcon{
    width: 64px;
    height: 64px;
    
}

.features-item{
  width: 264px;
  margin-bottom: 0;
}

.features-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: nowrap;
}

.feature-title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    color: rgba(46, 47, 66, 1);
    margin-bottom: 8px;
}

/* team section */

.team-section h2 {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 72px;
    text-align: center;
    margin-right: 0;
}


/* portfolio */

.portfolio-grid{
  display: none;
}

.portfolio-grid2{
  display: flex;
  flex-direction: column;
}


.portfolio-row2{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 40px;
}


.portfolio-item2{
   cursor: pointer;
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item2:hover{
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}


.portfolio-item2 h3 {
  
  font-size: 20px;
  line-height: 1.2;
}

.portfolio-item2 p {
  font-size: 16px;
  line-height: 1.5;
}


.portfolio-section2 img{
  display: block;
}



 .portfolio-item2{
  position: relative;
  overflow: hidden; 
}

.portfolio-item2img{
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-item2::before{
  content: "14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px; 
  background-color: rgba(77, 90, 229, 1);
  color: #fff;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
 

.portfolio-item2:hover::before{
  opacity: 1;
}
.portfolio-item2:hover img{
  opacity: 0;
}



.portfolio-name2{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid rgba(231, 233, 252, 1);
    border-bottom: 1px solid rgba(231, 233, 252, 1);
    border-left: 1px solid rgba(231, 233, 252, 1);
    gap: 8px;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 16px;
}



/* footer */

footer {
    height: 312px;
    padding: 100px 159px 132px 156px;
}
.footerDiv .socialmedia-footer {
    padding: 0;
    padding-left: 120px;
}

.subscribe {
    margin-top: 0px;
    padding-left: 80px;
}

}


@media (min-resolution: 2dppx) {
  .hero-section{
    background-image:
      linear-gradient(rgba(46,47,66,0.7), rgba(46,47,66,0.7)),
      url("../images/Dark-bg@2x.jpg");
  }
}


@media (min-resolution: 3dppx) {
  .hero-section {
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/Dark-bg@3x.jpg");
  }
}



